<section id='logo'><img src="/images/ember-hamster.png" /></section>

<h1>Welcome to Toronto Ember.js</h1>


<h3>Subscribe to the mailing list</h3>
<p>If you're planning on attending, please sign up for our email list.</p>
<p>We'll notify you whenever a meetup is scheduled. We won't do anything bad with your address or send you spam.</p>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="//torontoemberjs.us14.list-manage.com/subscribe/post?u=d8b90685f3673f49df084defd&amp;id=15e36d8840" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to our mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d8b90685f3673f49df084defd_15e36d8840" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->

<h3>About the Meetup</h3>

<p>The format is pretty simple: we'll start with a short presentation about something Ember related. Then people can ask questions, talk to each other and discuss all things Ember!</p>

<h3>When and Where is the Meetup?</h3>

<p>The meetup is every month except January. Check out our <a href="http://www.meetup.com/Toronto-Ember-JS-Meetup">Meetup Page</a> for the latest schedule.</p>


<h3>Do I have to be an expert in EmberJS to attend?</h3>

<p>Of course not!</p>

<p>Ember is such a new technology that we couldn't expect anyone to be an expert at this point. One of the reasons to create a local meetup is so that we can all learn together and bounce ideas off each other.</p>


<a href="https://twitter.com/torontoemberjs" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @torontoemberjs</a>

